<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This site provides weather information using MapBox.com and WeatherApi.com</p>
    <img class="about-img" src="/img/scream.jpg" alt="" />
    </div>
    {{>footer}}
  </body>
</html>